<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Summary</title>
    <style>

        .panel {
            width: 50%;
            margin: 50px auto;
            padding: 20px;
            border: 1px solid #ddd;
            border-radius: 5px;
            background-color: #f9f9f9;
        }
        .panel h2 {
            text-align: center;
            margin-bottom: 20px;
        }
        .message {
            margin-bottom: 20px;
            color: red;
        }
        .email {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>

<div class="panel">

    <div th:if="${user != null}">

        <div class="message" th:if="${message != null}">
            <p th:text="${message}"></p> <!-- Exibe a mensagem de erro -->
        </div>

        <div class="email" th:if="${user.email != null}">
            <p>Email: <span th:text="${user.email}"></span></p>
        </div>

        <div class="email" th:if="${user.email == null}">
            <p>Email não disponível</p>
        </div>
    </div>
</div>
</body>
</html>
